
{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .translation-table td { vertical-align: middle !important; }
        .translation-table td.domain { width: 20%; }

        .pointer {
            cursor: pointer;
        }

        .hover-toggle { 
            position: relative;
            padding-bottom: 1em;
            overflow: hidden;
        }
        .hover-toggle .hover-show { 
            position: absolute;
            bottom: -2em;
            height: 2em;
            width: 100%;
            background: rgba(255, 255, 255, 0.8)
        }
        .hover-toggle:hover .hover-show { 
            /*bottom: 0;*/
        }

        .hover-toggle:hover { 
            text-decoration: underline;
        }

        .translation-preview {
            display: block;
            width: 100%;
            max-height: 3em;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
    $(function(){
        $(".admin-translation-form").click(function(e){

        });
    })
    </script>
{% endblock %}

{% block actions %}
{% spaceless %}
    {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
        <li>{% include 'SonataAdminBundle:Core:create_button.html.twig' %}</li>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block list_filters %}
    <div class="box box-primary">
        <div class="box-header">
            <h4 class="box-title filter_legend active">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</h4>
        </div>

        <div class="box-body">
            <form class="sonata-filter-form" action="{{ admin.generateUrl('list') }}" method="GET" role="form">
                    <div class="filter_container">

                        <!-- WHY SONATA FILTERS DOES NOT FK WORK ????? -->
                        <div class="form-group">
                            <label for="filter_label_value">Langue</label>
                                <div>
                                </div>
                                <div>
                                    <select name="locale">
                                        <option value="en">En</option>
                                        <option value="fr">Fr</option>
                                        <option value="es">Es</option>
                                    </select>
                                </div>
                        </div>

                        <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}</button>

                        <a class="btn btn-default" href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
                    </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block list_table %}
    <div class="box box-primary">
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-hover translation-table">
                <thead>
                    <tr class="sonata-ba-list-field-header">
                        {% for field in fields %}
                        <th class="">
                            {{ admin.trans(field) }}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for object in list %}
                        <tr>
                            {% for field in fields %}
                                {% if field in domains %}
                                <td class="domain">{% include 'AsmTranslationLoaderBundle:CRUD:form.html.twig' %}</td>
                                {% else %}
                                <td>{{ object.get(field) }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
